<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-12 col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Sign Up</h3>
          
          <form action="/create" method="POST">
            <!-- Username input -->
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" id="username" name="username" class="form-control" required>
            </div>
            
            <!-- Email input -->
            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" id="email" name="email" class="form-control" required>
            </div>
            
            <!-- Password input -->
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" name="password" class="form-control" required>
            </div>
            
            <!-- Confirm password input -->
            <div class="mb-3">
              <label for="confirm_password" class="form-label">Confirm Password</label>
              <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
            </div>
            
            <!-- User role input -->
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select class="form-select" id="role" name="role" aria-label="Default select example" required>
                <option selected value="employee">Employee</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            
            <div class="d-grid gap-3">
              <!-- Signup button -->
              <button type="submit" class="btn btn-primary btn-lg fw-bold">SIGN UP</button>
            </div>
          </form>
          
          <!-- Link to redirect to login page -->
          <div class="text-center mt-3">
            <p>Already registered? <a href="/" class="text-decoration-none">Login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>